{% extends "::base.html.twig" %}

{% block body %}
    <div class="head-navigation">
        <ul>
            <li><a href="{{ path("user_login") }}">Login</a></li>
            <li><a href="{{ path("user_register") }}">Register</a></li>
        </ul>
        <ul>
            <li><a href="{{ path('logout') }}" class="href">Log out</a></li>
        </ul>
    </div>
    <div class="header-menu">
        {{ render(controller('JobzBundle:Menu:index', {position: 'head'})) }}
    </div>
    <div class="search">
        <form action="{{ path("jobz_search") }}" method="get">
            <input type="text" name="keyword" />
            <input type="submit" >
        </form>
    </div>
    {% block content %}{% endblock %}
    <div class="footer">
        {{ render(controller('JobzBundle:Menu:index', {position: 'foot'})) }}
    </div>
{% endblock %}